{% extends 'base.html' %}
{% load static %}
{% block title %}Estacionamento - Entrada{% endblock %}
{% block content %}

<form method="POST" action="{% url 'estacionamento:entrada' %}">
    {% csrf_token %}
<p align='center'>Entrada de Veículo</p>
{% for campo in form %}
    <div class="form-group row">
        <div class="col-xs-4">
            {{ campo.label }}
            {{ campo }}
            {{ campo.errors }}
        </div>
    </div>
{% endfor %}
<div class="form-group row">
    <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'estoque/js/cadastrar_veiculo.js' %}"></script>
{% endblock %}