{% extends 'base.html' %}
{% block title %}Estoque - Editar{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
<p align='center'>Edição de Produtos</p>
{% for campo in form %}
    <div class="form-group row">
        <div class="col-xs-4">
            {{ campo.label }}
            {{ campo }}
            {{ campo.errors }}
        </div>
    </div>
{% endfor %}
<div class="form-group row">
    <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</div>
</form>
{% endblock %}