{% extends 'base.html' %}
{% load static %}
{% block title %}Vendas - Cadastrar{% endblock %}
{% block content %}

<form method="POST" action="{% url 'vendas:vendas' %}">
    {% csrf_token %}
<p align='center'>Cadastrar Venda</p>
<div class="form-inline">
{% for campo in form2 %}
    
        <div class="form-group">
            {{ campo.label }}
            {{ campo }}
            {{ campo.errors }}
        </div>
    
{% endfor %}
<a id="id_link" href="#">Adicionar item</a>
</div>

<div id="id_add">
    
</div>

{% for campo in form %}
    <div class="form-group row">
        <div class="col-xs-4">
            {{ campo.label }}
            {{ campo }}
            {{ campo.errors }}
        </div>
    </div>
{% endfor %}
    
<div class="form-group row">
    <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'estoque/js/venda.js' %}"></script>
{% endblock %}