{% extends 'base.html' %}
{% block title %}Financeiro - Consultar{% endblock %}
{% block content %}
{% if controle == 1 %}
<p align="center">Lançamentos</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Movimento</th>
      <th>Valor</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for lac in lancamentos %}
    <tr>
        <td>{{lac.descricao}}</td>
        <td>
            {% if lac.movimento == 0 %}
                ENTRADA
            {% else %}
                SAIDA
            {% endif %}
        </td>
        <td>R$ {{lac.valor}}</td>
        <td>{{lac.data_pagamento}}</td>
        <td><a href="{% url 'financeiro:excluir' lac.pk %}">
                  <button type="button" class="btn btn-danger btn-sm">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
                  </button>
            </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<form method="POST" action="{% url 'financeiro:consultar' %}">
    {% csrf_token %}
<p align='center'>Consultar Lançamentos</p>
    <div class="form-group row">
        <div class="col-xs-4">
            Data Inicial
            <input type="date" class = 'form-control' name="data_inicial"/><br/>
            Data Final
            <input type="date" class = 'form-control' name="data_final"/><br/>
            Movimento
            <select class='form-control' name="movimento">
                <option value="">-------</option>
                <option value=0>ENTRADA</option>
                <option value=1>SAIDA</option>
            </select>
        </div>
    </div>
<div class="form-group row">
    <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</div>
</form>
{% endif %}
{% endblock %}